.about-me {
    height: 400px;
    img{
        border-radius: 50%;
        width: 200px;
        height: 150px;
        /* object-fit: revert; */
        margin-right: 20px;
        margin-left: 0 !important;
    }
}
